@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff8ee;
}

.navigation-tab {
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid transparent;
  min-height: 50px;
}

.navigation-tab:hover {
  /* background: red; */
  background-color: #f0e9df;
}

.underlined {
  /* text-decoration: underline; */
  border-bottom: 2px solid black;
}

.post-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.20s, box-shadow 0.20s;
  height: 500px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 200px 10px rgba(82, 61, 41, 0.4) inset;
}

.post-preview:hover {
  color: transparent;
  box-shadow: none;
}

.post-preview:hover > span {
  color: transparent !important;
  transition: color 0.20s;
}

html {
  /* font-family: Archivo Black, sans-serif; */
}

.post-preview-title {
  position: absolute;
  /* font-family: var(--font-archivo-black); */
  /* font-family: Archivo, sans-serif; */
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.post-content-image-container {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.post-content-image:hover {
  box-shadow: 0 0 40px 0 rgba(82, 61, 41, 0.4);
}

.post-content-image-container.fullscreen > img:hover {
  opacity: 1;
}

.post-content-image-container.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
  cursor: zoom-out;
}

.post-content-image-container.fullscreen > img {
  max-height: 100% !important;
  cursor: inherit;
  margin: 20px;
}

.post-content-image {
  object-fit: contain;
  max-height: 600px;
  transition: box-shadow 0.2s ease;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(5vh);
  visibility: hidden;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.contact-link {
  display: flex;
  justify-content: center;
  padding: 7px;
  text-decoration: underline;
}

.contact-link:hover {
  text-decoration: none;
}
